page-home {

}

ion-fab {
  top: -15px;
}

.title {
  font-family: DUB;
  font-style: bold;
}

ion-item {
  font-family: "Trebuchet MS";
  align: center;
  background-color: #B0DB99;
  color: #FFF9FB;
}
